@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


:root {
    --cor: #feb47b;
    --cor0: #ff7e5f;
    --cor00: #FFA500;
    --cor01: #C56846;
    --cor02: #BA4033;
    --cor03: #B01324;
    --cor04: #A10214;
    --cor05: #A20010;
    -corh: #D80032;
    --cor06: #FF0000;
    --cor07: #FBFFF1;
    --cor08: #E8EEF2;
    --cor09: #E4DFDA;

    --font-title2: 'Manrope', Arial, Helvetica, sans-serif;
    --font-title: 'Nunito Sans', Arial, Helvetica, sans-serif;
    --font-text: 'Jura', Arial, Helvetica, sans-serif;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #E4DFDA;
}

header {
    background-image: linear-gradient(to right, #FF0000,#FFA500);
    min-height: 200px;
    text-align: center;

}

header h1 {
    font-family: var(--font-title2);
    padding-top: 70px;
    font-size: 3.8em;
    font-weight: 800;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px black;
}

h1.borda-texto {
    text-shadow:#ffffff 1px -1px, #ffffff -1px 1px, #ffffff 1px 1px, #ffffff -1px -1px;
}

span.text-gradient {
    color: #ff0000;
}


header p {
    font-family: var(--font-text);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 1.1em;
    padding-bottom: 70px;

}

nav {
    background-image: linear-gradient(to right, #FF0000,#FFA500);
    padding: 15px;
    padding-left: 50px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.336);
}

nav a {
    font-family: var(--font-text);
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;

}


nav a:hover {
    color: var(--cor06);
    background-color: #E4DFDA;
    transition-duration: .5s;
}

main {
    font-family: var(--font-text);
    background-color: #E4DFDA;
    line-height: 2em;
    padding: 10px;

}

main > section > h2 {
    color: #ff0000;;
    font-family: var(--font-text);
    font-size: 2.5em;
    font-variant: normal;
    font-weight: bolder;
    padding-bottom: 20px;
    margin-top: 150px;
    text-align: center;
}

main > section > h3 {
    color: #ff0000;
    padding-top: 100px;
    padding-bottom: 100px;
}

main > section > p {
    font-size: 1.1em;
    text-indent : 20px;
    text-align: center;
    margin-bottom: 150px;
}

main h4 {
    font-family: var(--font-text);
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #FF0000;
}


div.container {
    display: flex;
    justify-content: space-evenly; /* Centraliza horizontalmente */
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite quebrar linha se necessário */
}

div.container h4.box {
    position: absolute;
    top: 155%;
}

div.container2 {
    display: flex;
    justify-content: space-evenly; /* Centraliza horizontalmente */
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite quebrar linha se necessário */
    margin-bottom: 150px;
}

main article {
    background-image: radial-gradient(circle, #BA4033, #B01324);
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.416);
}

main img {
    max-width: 100%;
}


div.map-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

div.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

main h3 {
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}


div.fundo-mapa {

    background-color: #A10214;
    color: white;
    padding: 20px;
    margin: 1px;
    border-radius: 15px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

div.fundo-mapa p {

    padding: 25px;
    font-size: 1.2em;
}

footer {
    background-color: #FF0000;
    color: #ffffff;
}

footer p {
    text-align: center;
    color: white;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF0000;
    color: #ffffff;
    padding: 20px;
    padding-top: 50px;
    margin-top: 150px;
  }

  .footer .social-icons {
    display: flex;
    gap: 25px;
  }

  .footer .social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
  }

  .footer .social-icons a:hover {
    color: #E4DFDA; /* cor de destaque ao passar o mouse */
    transition-duration: .5s;
  }

  @media (max-width: 600px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }

    .footer .social-icons {
      justify-content: center;
    }

  }











